<!DOCTYPE html>
<html lang="zh-CN"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>VMALL</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{css/style.css}" rel="stylesheet">
    <script src="/js/jquery.min.js" type="text/javascript"></script>
    <script th:src="@{/js/bootstrap.min.js}" type="text/javascript"></script>
    <script th:src="@{/js/layer.js}" type="text/javascript"></script>
</head>
<body>

<!--导航栏部分-->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div onclick="window.location.href = '/main'">
                <img src="/img/logo.png" style="width: 85%;">
            </div>

            <!--<a class="navbar-brand" href="/main">VMALL 首页</a>-->
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li th:unless="${session.currentUser}"><a href="/register" methods="post">注册</a></li>
                <li th:unless="${session.currentUser}"><a href="/login" methods="post">登录</a></li>

                <div th:if="${session.currentUser}" class="nav navbar-nav navbar-right">

                    <li th:if="${session.currentUser.role == 1}"><a href="/control" methods="post">控制台</a></li>
                    <!--<li th:if="${session.currentUser.role == 1}"><a href="/resetDb" methods="post">重置数据库</a></li>-->

                    <li class="dropdown">
                        <div href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false" style=" top: 10px; position: relative; ">
                            <img src="/img/user.png" style="width: 20%;">
                            <a style=" color: gray; "th:text="${session.currentUser.nickName}"> </a>
                        </div>
                        <ul class="dropdown-menu">
                            <li><a href="/shopping_car">购物车</a></li>
                            <li><a href="/shopping_record">订单状态</a></li>
                            <li th:if="${session.currentUser.role == 1}"><a href="/shopping_handle">处理订单</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/amend_info">个人资料修改</a></li>
                            <li><a href="/doLogout">注销登录</a></li>
                        </ul>
                    </li>
                </div>
            </ul>
            <div class="navbar-form navbar-right">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Mate20" id="searchKeyWord"/>
                </div>
                <button class="btn btn-default" onclick="searchProduct();">查找商品</button>
            </div>
        </div>
    </div>
</nav>

<!--中间部分-->
<div class="container-fluid  center-container" style="margin-bottom:70px;">
    <div th:include="this :: content"></div>
</div>

<!-- 尾部 -->
<hr/>
<div class="foot-style">
    <br/>
    FusionStage  Demo
</div>
</body>
<script type="text/javascript">
    function searchProduct() {
        window.location.href = "/search?searchKeyWord=" + document.getElementById("searchKeyWord").value;
    }
</script>

</html>